<div class="container">
    <section class="blog-content">
        <header class="blog-content-header">
            <h1 class="blog-content-title">About ICYSE-BLOG</h1>
        </header>
        <section class="blog-content-body">
            <article class="about-content">
                <p>ICYSE-BLOG is a blog project written in AngularJs.</p> 
                <p>You can click this <a href="https://github.com/icyse/icyse.github.io">https://github.com/icyse/icyse.github.io</a> to find all the lastest source code. What I hope is that you can support my work. Such as starring the project, pulling requests and so on.</p>
            </article>
            <article class="contact-content">
                <p>Email: 1317203071@qq.com or caihuabin@outlook.com</p>
                <p>Github: <a href="https://github.com/icyse/">https://github.com/icyse/</a></p>
                <p>Twitter: <a href="http://twitter.com/CaiHuabin/">http://twitter.com/CaiHuabin/</a></p>
            </article>
        </section>
    </section>
</div>